:root {
  /* Color */
  --primary-color: #F72585;
  --secondary-color: #7209B7;
  --font-color: #3A0CA3;
  --background-color: #FEFAE0;
  --semi-primary-color: #f7258458;
  /* Font-size */
  --option-size: 1.5rem;
  --home-size: 2.12rem;
  --about-size: 1.2rem;
  --about-education-size: .9rem;
  --projects-title-size: 1.2rem;
  --projects-text-size: 1rem;
  /* Space */
  --left-space: 1.5em;
  /* Icons */
  --project-description-icons-size: 18.34px;
  --footer-icons-size: 22px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--font-color);
  font-family: 'Comfortaa', sans-serif;
  min-height: 100vh;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 3em var(--left-space);
}

.main__contact {
  padding: 6em 1em 3.4em;
  display: flex;
  flex-grow: 1;
  align-items: end;
  gap: 1.5em;
  order: 1;
  border-left: 8px solid var(--secondary-color);
}

.main__container {
  display: flex;
  flex-direction: column;
}

.main__container__option {
  border-left: 8px solid var(--secondary-color);
  padding: 0 1em;
}

.main__container__option__title {
  font-size: var(--option-size);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main__container__option__title:hover {
  cursor: pointer;
}

.main__container__option__content {
  max-height: 0;
  overflow: hidden;
}

.main__container__option.active {
  border-left: 8px solid var(--primary-color);
}

.main__container__option.active h2 {
  color: var(--primary-color);
}

.main__container__option.active .main__container__option__content {
  max-height: 3500px;
  padding-bottom: 4.76em;
}

.home__content h3 {
  color: var(--primary-color);
  margin: 0;
  font-size: var(--home-size);
}

.home__content h3:last-of-type {
  color: var(--font-color);
}

.about__content p {
  font-size: var(--about-size);
}

.about__content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
  padding: 0;
}

.about__content div {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-top: 2.35em;

  h5 {
    color: var(--primary-color);
    margin: 0;
    font-size: var(--about-education-size);
  }

  p {
    margin: 0;
    font-size: var(--about-education-size);
  }
}

.about__content div:last-of-type {
  margin-top: 2em;
}

.projects__content {
  display: flex;
  flex-direction: column;
  gap: 7em;
}

.projects__content__picture figure {
  background-color: var(--semi-primary-color);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;

  img {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: auto;
    z-index: -1;
    display: block;
  }
}

.projects__content__picture ul {
  display: none;
}

.projects__content__description h5 {
  display: none;
}

.projects__content__description h4 {
  font-size: var(--projects-title-size);
  margin: 1em .3em .5em;
}

.projects__content__description p:first-of-type {
  margin-top: 0;
  margin-left: .3em;
}

.projects__content__description p {
  font-size: var(--projects-text-size);
}

.projects__content__description p:last-of-type {
  margin-top: -1em;
  margin-left: 0;
}

.projects__content__description ul {
  border-bottom: 1px solid var(--secondary-color);
  list-style: none;
  padding: 0;
  margin-left: .3em;

  li {
    font-size: var(--projects-text-size);
    display: flex;
    align-items: start;
    gap: 0.5em;
    margin-bottom: 1em
  }

  li img {
    width: var(--project-description-icons-size);
    height: var(--project-description-icons-size);
  }
}

.projects__content__project:last-of-type ul li:last-of-type {
  color: transparent;
}

.projects__content__description a {
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: end;
  gap: 0.2em;
}

.projects__content__description a img {
  width: var(--project-description-icons-size);
  height: var(--project-description-icons-size);
}

.footer {
  border-top: 3px solid var(--primary-color) ;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer__action {
  display: flex;
  align-items: center;
  gap: .7em;
  padding-left: var(--left-space);
  margin: 1.7em 0 .53em;
}

.footer__action h4 {
  margin: 0;
}

.footer__action-ping {
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: relative;
}

.footer__action-ping::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: ping 1.5s infinite ease;
}

.footer div:first-of-type p {
  display: none;
}

.footer__call {
  display: flex;
  gap: .7em;
  padding-left: calc(var(--left-space) - 3px);
  margin-bottom: 2.9em;
}

.footer__call__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer__call__links a img {
  width: var(--footer-icons-size);
  height: var(--footer-icons-size);
}

.footer__call__text {
  margin: 0;
  max-width: 300px;
}

.footer__data {
  padding-left: var(--left-space);

  a {
    display: none;
  }
}

.footer__data span {
  color: var(--primary-color);
}

@keyframes ping {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@media screen and (min-width: 950px) {
  :root {
    --option-size: 2rem;
    --home-size: 5.25rem;
    --about-size: 2rem;
    --about-education-size: 1.25rem;
    --projects-title-size: 2.3rem;
    --projects-text-size: 1.17rem;
    --left-space: 2.94em;
    --project-description-icons-size: 27px;
  }

  .main {
    flex-direction: row;
  }

  .main__contact {
    order: 0;
    align-items: start;
    flex-direction: column;
    flex-grow: 0;
    border: none;
    padding: 1.66em var(--left-space) 0 0;
  }

  .main__container__option {
    padding: 0 2.5em;
  }
  
  .main__container__option:last-of-type {
    flex-grow: 1;
    padding-bottom: 7.8em;
  }

  .about__content div {
    display: inline-flex;
  }

  .about__content div:first-of-type {
    margin-right: 7.7em;
  }

  .main__container__option__content div:last-of-type {
    margin-top: 0;
  }

  .projects__content {
    max-width: 850px;
  }

  .footer { 
    display: flex;
    justify-content: space-between;
    padding: 2.5em 0 1em;
    padding-right: 49.98px;
  }

  .footer div:first-of-type p {
    margin-left: calc(var(--left-space) + 30px);
    display: block;
  }

  .footer__action {
    margin: 0;
    margin-bottom: .5em;
  }

  .footer__call__text {
    max-width: 360px;
  }

  .footer__call {
    display: none;
  }

  .footer__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;

    a {
      display: block;
      border: 1px solid var(--font-color);
      color: var(--font-color);
      width: 220px;
      height: 72px;
      margin-left: auto;
      line-height: 72px;
      text-align: center;
      text-decoration: none;
    }

    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1800px) {
  .projects__content, .home__content, .about__content p {
    max-width: 1800px;
  }

  .projects__content {
    gap: 9em;
  }

  .projects__content__project {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 6.2em;
    margin-left: 2.5em;
  }

  .projects__content__picture {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .projects__content__picture figure {
    border-radius: 30px;

    img {
      border-radius: 30px;
    }
  }
  
  .projects__content__picture ul {
    display: flex;
    list-style: none;
    gap: .6rem;
    padding: 0 .5em;
    margin: .5em 0 0;

    li {
      width: 29.47px;
      height: 29.47px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .projects__content__description {
    width: 70%;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .projects__content__description::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0%;
    left: -30%;
    z-index: -10;
    background-color: var(--semi-primary-color);
  }

  .projects__content__description h5 {
    display: inline;
    color: var(--primary-color);
    font-size: var(--projects-text-size);
    margin: 0 0 .9em;
  }

  .projects__content__description h4 {
    margin: 0 0 1rem;
  }

  .projects__content__description p:first-of-type {
    margin: 0 0 2.1rem;
  }

  .projects__content__description ul {
    margin: 0 0 0;
    padding-bottom: 2.7em;

    li {
      font-size: var(--projects-text-size);
    }
  }
}