:root {
  --primary-color: #F72585;
  --secondary-color: #7209B7;
  --font-color: #3A0CA3;
  --background-color: #FEFAE0;
  --semi-primary-color: #f7258458;
  --title-size: 1.5rem;
  --footer-size: 1rem;
  --left-space: 1.5em;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--font-color);
  font-family: 'Comfortaa', sans-serif;
  min-height: 100vh;
  padding-top: 1px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 3em var(--left-space);
}

.main__contact {
  padding: 6em 1em 3.4em;
  display: flex;
  gap: 1.5em;
  order: 1;
  border-left: 8px solid var(--secondary-color);
}

.main__container {
  display: flex;
  flex-direction: column;
}

.main__container__option {
  border-left: 8px solid var(--secondary-color);
  padding: 0 1em;
}

.main__container__option__content {
  max-height: 0;
  overflow: hidden;
}


.main__container__option.active {
  border-left: 8px solid var(--primary-color);
}

.main__container__option.active h2 {
  color: var(--primary-color);
}

.main__container__option.active .main__container__option__content {
  max-height: 3000px;
  padding-bottom: 4.76em;
}

.home__content h3 {
  color: var(--primary-color);
  margin: 0;
  font-size: 2.12rem;
}

.home__content h3:last-of-type {
  color: var(--font-color);
}

.about__content p {
  font-size: 1.2rem;
}

.about__content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
  padding: 0;
}

.about__content div {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-top: 2.35em;

  h5 {
    color: var(--primary-color);
    margin: 0;
    font-size: .9rem;
  }

  p {
    margin: 0;
    font-size: .9rem;
  }
}

.main__container__option__content div:last-of-type {
  margin-top: 2em;
}

.projects__content {
  display: flex;
  flex-direction: column;
  gap: 7em;
}

.projects__content div figure {
  background-color: var(--semi-primary-color);
  border-radius: 10px;
  position: relative;
  width: 100%;
  margin: 0;

  img {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: auto;
    z-index: -1;
    display: block;
  }
}

.projects__content div h4 {
  font-size: 1.12rem;
  margin: 1em .3em .5em;
}

.projects__content div p:first-of-type {
  margin-top: 0;
  margin-left: .3em;
}

.projects__content div p {
  font-size: 1rem;
}

.projects__content div p:last-of-type {
  margin-top: -1em;
  margin-left: 0;
}

.projects__content div ul {
  border-bottom: 1px solid var(--secondary-color);
  list-style: none;
  padding: 0;
  margin-left: .3em;

  li {
    display: flex;
    align-items: start;
    gap: 0.5em;
    margin-bottom: 1em
  }
}

.projects__content div a {
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.projects__content div a img {
  width: 23px;
  height: 23px;
}

.footer {
  border-top: 3px solid var(--primary-color) ;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer__action {
  display: flex;
  align-items: center;
  gap: .7em;
  padding-left: var(--left-space);
  margin: 1.7em 0 .53em;
}

.footer__action h4 {
  margin: 0;
}

.footer__action-ping {
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: relative;
}

.footer__action-ping::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: ping 1.5s infinite ease;
}

.footer__call {
  display: flex;
  gap: .7em;
  padding-left: calc(var(--left-space) - 3px);
  margin-bottom: 2.9em;
}

.footer__call__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer__call__links a img {
  width: 22px;
  height: 22px;
}

.footer__call__text {
  margin: 0;
  max-width: 300px;
}

.footer__data {
  padding-left: var(--left-space);
}

.footer__data span {
  color: var(--primary-color);
}

@keyframes ping {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}